.image-input-wrapper {
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.image-input-wrapper.readonly {
  cursor: default;
}
.image-input-wrapper.readonly .input-field{
  cursor: default;
  background-color: var(--bg-disabled);
  opacity: 0.8;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--background-primary);
  border: solid 1px var(--border-primary);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: all var(--transition-fast) ease-in-out;
}

.image-input-wrapper:focus-within .input-field,
.input-field:not(.readonly):active {
  border-color: var(--border-focus);
  box-shadow: 0 0 0 3px var(--primary-disabled);
}

.info-group {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  min-width: 0;
}

.input-icon {
  width: 18px;
  height: 18px;
  color: var(--text-secondary);
}

.placeholder-text {
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
}
.filled-state{
  display: flex;
}
.thumbnail-wrapper {
  max-width: 100%;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  flex-shrink: 0;
}

.thumbnail-wrapper img{
  max-width: 100%;
  max-height: 400px;
}

.input-field:not(.readonly):hover .action-tag.upload {
  background-color: var(--background-tertiary);
  color: var(--text-primary);
}

.input-field:not(.readonly):hover {
  background-color: var(--background-secondary);
  border-color: var(--border-secondary);
}