<main class="container">
  <h1>{{ (id ? 'dressMovements.edit' : 'dressMovements.new') | translate }}</h1>

  @if (loading()) {
    <app-loading text="Loading..." />
  } @else {
    <form class="form">
      @if (!id) {

        <app-collapsible-section
          titleKey="dressMovements.sections.basicInfo"
          [showActions]="false">
          <div class="form-grid">
            <app-select-input
              labelKey="dressMovements.form.dress"
              placeholderKey="dressMovements.form.dressPlaceholder"
              [options]="dresses"
              [control]="getControl('dressId')"
            />
            <app-number-input
              labelKey="dressMovements.form.quantity"
              placeholderKey="dressMovements.form.quantityPlaceholder"
              [control]="getControl('quantity')"
              [decimalPlaces]="0"
            />
          </div>
        </app-collapsible-section>

        <app-dynamic-form
          [form]="customFieldsForm"
          [entityIdentifier]="id ? id.toString() : ''"
          [module]="module"
          [showActions]="false"
        />

        <div class="actions">
          <app-button
            type="submit"
            variant="primary"
            (click)="saveAll()">
            {{ 'shared.save' | translate }}
          </app-button>
        </div>

      } @else {
        <app-collapsible-section
          titleKey="dressMovements.sections.basicInfo"
          [isEditMode]="!isSectionEditing('basicInfo')"
          [isValid]="isSectionValid('basicInfo')"
          (save)="saveSection('basicInfo')"
          (cancel)="resetSection('basicInfo')"
          (edit)="toggleSectionEdit('basicInfo')">
          <div class="form-grid">
            <app-select-input
              labelKey="dressMovements.form.dress"
              placeholderKey="dressMovements.form.dressPlaceholder"
              [options]="dresses"
              [control]="getControl('dressId')"
              [readonly]="!isSectionEditing('basicInfo')"
            />
            <app-number-input
              labelKey="dressMovements.form.quantity"
              placeholderKey="dressMovements.form.quantityPlaceholder"
              [control]="getControl('quantity')"
              [decimalPlaces]="0"
              [readonly]="!isSectionEditing('basicInfo')"
            />
          </div>
        </app-collapsible-section>

        <app-dynamic-form
          [form]="customFieldsForm"
          [entityIdentifier]="id ? id.toString() : ''"
          [module]="module"
          [isEditMode]="isEditMode"
        />
      }
    </form>
  }
</main>
